@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");
.schedule{
  background-repeat: repeat;
  background-size: auto auto;
  font-family: "Montserrat", sans-serif;
  /* font-size: 1rem; */
  position: relative;
  background-color: #f7cad0;
  width: 100%;
  height: 100%;
  padding: 10vh 0;
}

@media only screen and (min-width: 600px) {
  .schedule{
    font-size: 2rem;
  }
  .schedule iframe{
    width: 65%;
    height: 80%;
    font-weight: bolder;
  }
  
}
@media only screen and (min-width: 992px){
  .schedule{
    font-size: 1rem;
  }
  .schedule iframe{
    width: 70%;
    height: 90%;
  }
}