@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");
.Whole_div {
  background-repeat: repeat;
  background-size: auto 100vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  width: 100%;
}
.mediaInfo {
  margin-top: 10vh;
  background-size: auto 100vh;
}
.color_sectiom {
  background-color: #f8c8d7;
  padding-bottom: 5rem;
}
h1 {
  text-align: center;
  font-size: 5rem;
}
.Row {
  text-align: center;
}

.info {
  margin-top: 20vh;
  color: black;
}

.d-image img {
  width: 100%;
  position: relative;
  transition: 0.3s;
  top:0px;
  transition: top 0.2s linear;
}
.d-image img:hover {
opacity: 0.9;
top: 10px;
}
.logoSection {
  text-align: center;
  padding: 20vh 10vh 0 10vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.members {
  padding: 0vh 10vh 0 10vh;
}
.prizesection {
  text-align: center;
  padding: 2vw 4vw;
  margin: 1vw 8vw;
  border-radius: 14px;
  background-color: #fdeff6;
}
.tracks {
  text-align: center;
  padding: 2vw 4vw;
  border-radius: 14px;
  margin: 1vw 8vw;
  background-color: #f5e9f7;
}
.sponsorSection {
  padding: 17vh 18vh 0 18vh;
  margin-top: -10vh;
  margin-top: 0vh;
}
.faqsSection {
  text-align: center;
  margin: 0 auto;
  padding: 17vh 18vh 0 18vh;
  margin-top: -16vh;
}

.container {
  max-width: '100%';
}

@media screen and (max-width: 570px) {
  .mediaInfo {
    margin: 0 0 0 0;
  }
  .Whole_div {
    background-size: auto 100vh;
    width: 100%;
  }

  .faqsSection {
    padding: 0;
    margin-top: 0vh;
  }
  .members {
    margin: 0;
    padding: 0;
  }

  .prizesection {
    margin: 0 5vh;
    padding: 2vh 2vh;
  }
  .tracks {
    margin: 0 5vh;
    padding: 2vh 2vh;
  }
  .sponsorSection {
    padding: 0;
    margin: 0;
    margin: 12rem auto;
  }
  .logoSection {
    text-align: center;
    padding: 20vh 0vh 0 0vh;
  }
}