@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.counter{
    display: block;
    background-color: #f0ddf3;
    color: black;
    width: 100%;
    height: fit-content;
    padding: 10vh 30px;
    border-radius: 8px;
    text-align: center;
    font-size: 50px;
    /* margin: 30px 0; */
  /* border: 1px solid rgb(255, 194, 252); */
  font-family: Poppins;
  font-weight: 300;
}
.counter p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: inline-block;
}
@media  (max-width: 570px){
.counter{
  margin: 30px auto;
}
}